@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------------------Header section--------------------------------------------*/
header{
    padding: 15px 5%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(82, 48, 1, 0.596);
    z-index: 100;
}

.navbar{
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
}

.navlist{
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.navlist li{
    margin: 0 1rem;
    font-size: 35px;
}

.navlist li a{
    display: inline-flex;
    font-weight: 700;
    color: white;
}

.navlist li a:hover, .navlist li a.active{
    color: #ffcc24;
    transform: scale(1.1);
}

header .logo{
    font-size: 35px;
    font-weight: 700;
    color: white;
}

span{
    color: rgb(226, 180, 30);
}

.menu-icon{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    /*background-color: #ffcc24;*/
}

.menu-icon .bar,
.menu-icon::after,
.menu-icon::before{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background: #ffcc24;
    margin: 6px 0;
    transition: .4s;
}

.menu-icon.active::before{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-icon.active::after{
    transform: rotate(45deg) translate(-8px, -8px);
}
.menu-icon.active .bar{
    opacity: 0;
}

/*-----------------------------------------End Header section--------------------------------------------*/

/*-----------------------------------------Project section--------------------------------------------*/
section{
    padding: 0px 5%;
    display: block;
}

.project{
    position: relative;
    min-height: 100vh;
    margin-top: 10rem;
}

.main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.main-text h2{
    color: black;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.fillter-btns{
    text-align: center;
    padding: 10px;
    margin-bottom: 3rem;
}

.fillter-btns button{
    background-color: #ffcc24;
    font-size: 1.5rem;
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: black;
    box-shadow: 0px 1px 2px 0 rgba(67, 65, 60, 0.3),
                0px 2px 6px 2px rgba(67, 66, 60, 0.15);
    margin-right: 12px;
    cursor: pointer;
    transition: all .3s ease;
}

.fillter-btns button:hover{
    color: #ffcc24;
    background-color: white ;
    border: 2px solid #ffcc24;
    transform: scale(1.1);
}

.fillter-btns a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid rgb(226, 180, 30);
    border-radius: 50%;
    font-size: 1.5rem;
    color: rgb(226, 180, 30);
    margin: 0 1.5rem;
    transition: .5s ease;
}

.fillter-btns a:hover{
    background: #e2b41e;
    color: white;
    box-shadow: 0 0 1rem var(#e2b41e);
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
}

.project-container img{
    display: block;
    width: 100%;
    height: 60%;
    transition: .5s ease;
}

/*-----------------------------------------End Project section--------------------------------------------*/